
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
  font-family: 'Poppins', sans-serif;
}

.body {
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal(main) axis */
  align-items: center; /* vertical axis */
  background: #343F4F;
}

.container {
  width: 500px;
  padding: 50px 0;
  border-radius: 8px;
  background: #fff;
  display: flex;
  /* row-gap: 30px; */
  flex-direction: column;
  align-items: center;
}

.circular-progress {
  position: relative;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background: conic-gradient(#ff8400 3.6deg, #ededed 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #fff;
}

.progress-value {
  display: flex;
  align-items: baseline;
}

.text {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  color: #343F4F;
}

.history-block {
  cursor: pointer;
}

.half-text {
  font-size: 20px;
}

.setter-wrapper {
  display: flex;
  align-items: center;
  height: 220px;
  min-width: 300px;
  justify-content: space-around;
}

.timer-setter {
  width: 60px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.timer-setter span {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #343F4F;
  cursor: pointer;
}

.timer-box {
  max-width: 50px;
  height: 50px;
  border-left: 0;
  border-right: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 20px;
  color: #737373;
  text-align: center;
}

.submit-btn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.4);;
  color: #4b4b4b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.pause-btn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  background: #ff8400;
  color: #4b4b4b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.resume-btn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  background: #00da37;
  color: #4b4b4b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cancel-btn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  color: #4b4b4b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.control-btns {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

